<footer>
  <div class="col-md-6">
    <span>Design by <strong>Nguyen Duy Ta</strong>  @Copyright 2016</span>
  </div>
  <div class="col-md-6">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</footer>
